In [38]:
#Import dependencies or modules
import pandas as pd
import numpy as np

In [39]:
#Create a path to the csv file and read the file with pandas
purchase_data = "../PurchaseData.csv"
purchase_data_df = pd.read_csv(purchase_data, encoding="utf-8")

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [40]:
#Player Count
#Display the total number of players
#Calculate the length of the data in column "SN" and use .value_counts() as a function
total_players = len(purchase_data_df["SN"].value_counts())
print(total_players)

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
total_players_counted = pd.DataFrame({"Total Number of Players": [total_players]})

total_players_counted

576

   Total Number of Players
0                      576

In [41]:
#Purchasing Analysis (Total)
#Run basic calculations to obtain the number of unique items, average purchase price, total number of purchases, and total revenue
#Create variables, reference the dataframe, use square brackets to select relevant columns, then implement .unique(), .mean(), .count(), and .sum() as functions
unique_items = len(purchase_data_df["Item ID"].unique())
print(unique_items)

average_price = purchase_data_df["Price"].mean()
print(average_price)

total_purchases = purchase_data_df["Purchase ID"].count()
print(total_purchases)

total_revenue = purchase_data_df["Price"].sum()
print(total_revenue)

#Create a dataframe to hold the results of the calculations
#Use the form of a dictionary to create headers and columns
purchase_data_df_summary = pd.DataFrame({"Number of Unique Items": [unique_items],
                                         "Average Purchase Price": [average_price],
                                         "Total Number of Purchases": [total_purchases],
                                         "Total Revenue": [total_revenue]})

#Reference the dataframe, use square brackets to select relevant columns for modification, then map to format columns
purchase_data_df_summary["Average Purchase Price"] = purchase_data_df_summary["Average Purchase Price"].map("${:.2f}".format)
purchase_data_df_summary["Total Revenue"] = purchase_data_df_summary["Total Revenue"].map("${:.2f}".format)


purchase_data_df_summary

183
3.0509871794871795
780
2379.77

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [42]:
#Gender Demographics
#Calculate the number of genders in the column "Gender" through use of .nunique() as a function
gender_count = purchase_data_df["Gender"].nunique()
print(gender_count)

#Determine the categories of genders in column "Gender" through the use of list and set as functions
gender_types = purchase_data_df["Gender"]
gender_types_list = list(set(gender_types))
print(gender_types_list)

#Organize the dataframe with gender as an index through use of .groupby() as a function
groupby_gender = purchase_data_df.groupby("Gender")

#Use the unique or distinct categories of gender to sort information through the use of .nunique() as a function 
unique_genders = groupby_gender["SN"].nunique()

#Use division of the unique or distinct categories of gender by the total number of players to determine percentages
percentage_of_players = (unique_genders / total_players) * 100

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
gender_results_df = pd.DataFrame({"Total Count": unique_genders, "Percentage of Players": percentage_of_players})

#Reference the dataframe, use square brackets to select relevant columns for modification, then sort values and map to format columns
gender_results_df = gender_results_df.sort_values(["Total Count"], ascending = False)
gender_results_df["Percentage of Players"] = gender_results_df["Percentage of Players"].map("{0:.2f}%".format)

gender_results_df

3
['Other / Non-Disclosed', 'Male', 'Female']

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [43]:
#Purchasing Analysis (Gender)
#With data indexed by gender through the .groupby() function, run basic calculations to obtain purchase count, average purchase price, total purchase value, and average purchase total per person
#Create variables, reference the dataframe, use square brackets to select relevant columns, then implement .count(), .mean(), and .sum() as functions
purchase_count_gender = groupby_gender["Purchase ID"].count()
print(purchase_count_gender)

average_purchase_price_gender = groupby_gender["Price"].mean()
print(average_purchase_price_gender)

total_purchase_value_gender = groupby_gender["Price"].sum()
print(total_purchase_value_gender)

average_purchase_per_person_gender = total_purchase_value_gender / unique_genders
print(average_purchase_per_person_gender)

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
purchase_analysis_gender_df = pd.DataFrame({"Purchase Count": purchase_count_gender,
                                            "Average Purchase Price": average_purchase_price_gender,
                                            "Total Purchase Value": total_purchase_value_gender,
                                            "Average Total Purchase per Person": average_purchase_per_person_gender})

#Reference the dataframe, use square brackets to select relevant columns for modification, then map to format columns
purchase_analysis_gender_df["Average Purchase Price"] = purchase_analysis_gender_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_gender_df["Total Purchase Value"] = purchase_analysis_gender_df["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis_gender_df["Average Total Purchase per Person"] = purchase_analysis_gender_df["Average Total Purchase per Person"].map("${:.2f}".format)

purchase_analysis_gender_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [44]:
#Age Demographics
#Determine the range of ages in column "Age" through the use of list and set as functions
age_ranges = purchase_data_df["Age"]
age_ranges_list = list(set(age_ranges))
print(age_ranges_list)

#Establish bins for ages based on the information from the range of ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]

#Add the bin to the dataframe through the use of pd.cut() as a function
purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_groups)

#Organize the dataframe with age as an index through use of .groupby() as a function
groupby_age = purchase_data_df.groupby("Age Groups")

#Use the unique or distinct categories of age to sort information through use of .nunique() as a function
unique_ages = groupby_age["SN"].nunique()

#Use division of the unique or distinct categories of age by the total number of players to determine percentages
percentage_by_ages = (unique_ages / total_players) * 100

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
age_results_df = pd.DataFrame({"Total Count": unique_ages, "Percentage of Players": percentage_by_ages})

#Reference the dataframe, use square brackets to select relevant columns for modification, then sort values and map to format columns
age_results_df = age_results_df.sort_values(["Age Groups"], ascending = True)
age_results_df["Percentage of Players"] = age_results_df["Percentage of Players"].map("{0:.2f}%".format)

age_results_df

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40-44                11                 1.91%
45-49                 1                 0.17%

In [45]:
#Purchasing Analysis (Age)
#With data indexed by age through the .groupby() function, run basic calculations to obtain purchase count, average purchase price, total purchase value, and average purchase total per person
#Create variables, reference the dataframe, use square brackets to select relevant columns, then implement .count(), .mean(), and .sum() as functions
purchase_count_age = groupby_age["Purchase ID"].count()
print(purchase_count_age)

average_purchase_price_age = groupby_age["Price"].mean()
print(average_purchase_price_age)

total_purchase_value_age = groupby_age["Price"].sum()
print(total_purchase_value_age)

average_purchase_per_person_age = total_purchase_value_age / unique_ages
print(average_purchase_per_person_age)

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
purchase_analysis_age_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                         "Average Purchase Price": average_purchase_price_age,
                                         "Total Purchase Value": total_purchase_value_age,
                                         "Average Total Purchase per Person": average_purchase_per_person_age})

#Reference the dataframe, use square brackets to select relevant columns for modification, then map to format columns
purchase_analysis_age_df["Average Purchase Price"] = purchase_analysis_age_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_age_df["Total Purchase Value"] = purchase_analysis_age_df["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis_age_df["Average Total Purchase per Person"] = purchase_analysis_age_df["Average Total Purchase per Person"].map("${:.2f}".format)

purchase_analysis_age_df

Age Groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40-44     12
45-49      1
Name: Purchase ID, dtype: int64
Age Groups
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40-44    3.045000
45-49    1.700000
Name: Price, dtype: float64
Age Groups
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40-44      36.54
45-49       1.70
Name: Price, dtype: float64
Age Groups
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40-44    3.321818
45-49    1.700000
dtype: float64

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40-44,12,$3.04,$36.54,$3.32
45-49,1,$1.70,$1.70,$1.70

In [46]:
#Top Spenders
#With data indexed by players or spenders through the .groupby() function, run basic calculations to obtain purchase count, average purchase price, and total purchase value
#Create variables, reference the dataframe, use square brackets to select relevant columns, then implement .count(), .mean(), .count(), and .sum() as functions
groupby_spenders = purchase_data_df.groupby("SN")

purchase_count_spenders = groupby_spenders["Purchase ID"].count()
#print(purchase_count_spenders)

average_purchase_price_spenders = groupby_spenders["Price"].mean()
#print(average_purchase_price_spenders)

total_purchase_value_spenders = groupby_spenders["Price"].sum()
#print(total_purchase_value_spenders)

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
purchase_analysis_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spenders,
                                              "Average Purchase Price": average_purchase_price_spenders,
                                              "Total Purchase Value": total_purchase_value_spenders})

#Reference the dataframe, use square brackets to select relevant columns for modification, then sort values and map to format columns
purchase_analysis_spenders_df = purchase_analysis_spenders_df.sort_values(["Total Purchase Value"], ascending = False)
purchase_analysis_spenders_df["Purchase Count"] = purchase_analysis_spenders_df["Purchase Count"]
purchase_analysis_spenders_df["Average Purchase Price"] = purchase_analysis_spenders_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_spenders_df["Total Purchase Value"] = purchase_analysis_spenders_df["Total Purchase Value"].map("${:.2f}".format)

purchase_analysis_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [47]:
#Most Popular Items
#Retrieve the item id, item name, and item price columns
item_categories_popular = purchase_data_df[["Item ID", "Item Name", "Price"]]

#Group by item id and item name
groupby_items_popular = item_categories_popular.groupby(["Item ID", "Item Name"])

#Perform calculations to obtain purchase count, total purchase value, and item price
purchase_count_items_popular = groupby_items_popular["Price"].count()
total_purchase_value_items_popular = groupby_items_popular["Price"].sum()
item_price_items_popular = total_purchase_value_items_popular / purchase_count_items_popular

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count_items_popular,
                                      "Item Price": item_price_items_popular,
                                      "Total Purchase Value": total_purchase_value_items_popular})

#Reference the dataframe, use square brackets to select relevant columns for modification, then sort values and map to format columns
most_popular_items_df = most_popular_items_df.sort_values(["Purchase Count"], ascending = False)
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${:.2f}".format)

most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [48]:
#Most Profitable Items
#Retrieve the item id, item name, and item price columns
item_categories_profitable = purchase_data_df[["Item ID", "Item Name", "Price"]]

#Group by item id and item name
groupby_items_profitable = item_categories_profitable.groupby(["Item ID", "Item Name"])

#Perform calculations to obtain purchase count, total purchase value, and item price
purchase_count_items_profitable = groupby_items_profitable["Price"].count()
total_purchase_value_items_profitable = groupby_items_profitable["Price"].sum()
item_price_items_profitable = total_purchase_value_items_profitable / purchase_count_items_profitable

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
most_profitable_items_df = pd.DataFrame({"Purchase Count": purchase_count_items_profitable,
                                         "Item Price": item_price_items_profitable,
                                         "Total Purchase Value": total_purchase_value_items_profitable})

#Reference the dataframe, use square brackets to select relevant columns for modification, then sort values and map to format columns
most_profitable_items_df = most_profitable_items_df.sort_values(["Total Purchase Value"], ascending = False)
most_profitable_items_df["Item Price"] = most_profitable_items_df["Item Price"].map("${:.2f}".format)
most_profitable_items_df["Total Purchase Value"] = most_profitable_items_df["Total Purchase Value"].map("${:.2f}".format)

most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80