In [23]:
#Import dependencies or modules
import pandas as pd
import numpy as np

In [24]:
#Create a path to the csv file and read the file with pandas
purchase_data = "../PurchaseData.csv"
purchase_data_df = pd.read_csv(purchase_data, encoding="utf-8")

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
#Display the Total number of players
#Assess the length of the data in column "SN" and use .value_counts as a function
total_players = len(purchase_data_df["SN"].value_counts())
print(total_players)

#Create a dataframe with pandas, and use the form of a dictionary to create a header and column
total_players_counted = pd.DataFrame({"Total Number of Players": [total_players]})

total_players_counted

576

   Total Number of Players
0                      576

In [30]:
#Run basic calculations to obtain the number of unique items, average purchase price, total number of purchases, and total revenue
#Create variables, reference the data frame, use square brackets to select relevant columns, then implement .unique(), .mean(), .count(), and .sum() functions
unique_items = len((purchase_data_df["Item ID"]).unique())
print(unique_items)

average_price = (purchase_data_df["Price"]).mean()
print(average_price)

total_purchases = (purchase_data_df["Purchase ID"]).count()
print(total_purchases)

total_revenue = (purchase_data_df["Price"]).sum()
print(total_revenue)

#Create a summary data frame to hold the results
#Use the form of a dictionary to create Headers and Columns
purchase_data_df_summary = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Purchase Price": [average_price],
                                         "Total Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})

#Optional: give the displayed data cleaner formatting
#Reference the data frame, use square brackets to select relevant columns for modification, then map to format columns
purchase_data_df_summary["Average Purchase Price"] = purchase_data_df_summary["Average Purchase Price"].map("${:.2f}".format)

purchase_data_df_summary["Total Revenue"] = purchase_data_df_summary["Total Revenue"].map("${:.2f}".format)


purchase_data_df_summary

183
3.0509871794871795
780
2379.77

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [ ]:
Percentage and Count of Male Players


Percentage and Count of Female Players


Percentage and Count of Other / Non-Disclosed